import React, { PropTypes } from 'react';
{{#if wantCSS}}

import styles from './styles.css';
{{/if}}

export default function {{ properCase name }}() {
  return (
    {{#if wantCSS}}
    <div className={{curly true}}styles.{{ camelCase name }}{{curly}}>
    {{else}}
    <div>
    {{/if}}
    </div>
  );
}

{{ properCase name }}.propTypes = {

};
